{
  "printWidth": 100,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "overrides": [
    { "files": ["*.tsx", "*.jsx"], "options": { "bracketSameLine": false } },
    { "files": "*.md", "options": { "proseWrap": "preserve" } }
  ]
}
